/* Importar la fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Estilos generales del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Cambiar el color de fondo a un tono más claro */
}

/* Estilos para el título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para la tabla */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Estilos para las celdas de la tabla */
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Estilos para el botón de volver */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para el botón de volver al pasar el mouse */
button:hover {
    background-color: #45a049;
}
